.header-navbar {
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header-navbar img {
  height: 60px;
}
#basic-navbar-nav {
  color: white;
}
.user-text {
  color: white;
  /* font-weight: bold; */
}
